.landing {
    background-image: url("../images/home landing1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.landing {
    min-height: calc(100vh - 56px);
}

.landing .filter {
    height: 100%;
    width: 100%;
    background-color: #2f30306b;
    top: 0;
    left: 0;
}

.landing h1 {
    font-family: "Lora", serif;
    font-size: 60px;
    line-height: 75px;
    font-weight: 800;
    max-width: 900px;
    color: #F3F4F6FF;
    text-shadow: var(--primary-color) 1px 1px;
}

.landing input {
    max-width: 768px;
}

.landing .search-wrapper i {
    font-size: 1.2rem;
}

.landing .search-wrapper input:focus {
    box-shadow: none;
    border: none;
}

.card {
    transition: all 0.2s ease;
}

.card:hover {
    transform: scale(1.05);
    z-index: 1;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.373);
}

.card .card-top .btn {
    top: 18px;
    left: 15px;
    font-weight: 500;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.4) !important;
    border: rgba(255, 255, 255, 0) solid 1px !important;
}

.card .card-body .card-title {
    max-height: 192px;
    font-family: "Lora", serif;
    line-height: 28px;
    font-weight: 600;
}

.card .card-body .star-system i {
    padding-top: 0.37rem;
    color: var(--brown-color);
    font-size: 0.8rem;
}

.card .card-footer button {
    background-color: var(--primary-color) !important;
    border: none !important;
    border-radius: 0px 0px 6px 6px;
    font-weight: 500;
    transition: all ease-in-out 0.2s;
}

.card .card-footer button:hover {
    opacity: 0.9;
}

.card-footer {
    border: none;
}

@media (max-width: 580px) {
    .card .card-top .btn {
        font-size: 10px;
        top: 10px;
        left: 5px;
    }
}