.title button {
    max-width: 200px;
}

#recipesSearch {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 0.2rem rgba(55, 31, 31, 0.25);
}

.dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item:active {
    background-color: inherit !important;
    color: black!important;
}

.card {
    transition: all 0.2s ease;
}

.card:hover {
    transform: scale(1.05);
    z-index: 1;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.373);
}

.card .card-top .btn {
    top: 18px;
    left: 15px;
    font-weight: 500;
    font-size: 12px;
    transition: all ease-in-out 0.2s;
}

.card .card-top .btn:hover {
    background-color: rgba(255, 255, 255, 0) !important;
    border: rgba(255, 255, 255, 0) solid 1px !important;
}

.card .card-body .card-title {
    max-height: 192px;
    font-family: "Lora", serif;
    line-height: 28px;
    font-weight: 600;
}

.star-system i {
    padding-top: 0.37rem;
    color: var(--brown-color);
    font-size: 0.8rem;
}

.card-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    padding: 1rem !important;
    background-color: inherit !important;
}

.card .clock i {
    color: var(--primary-color);
}

.card .card-footer .btn {
    max-width: 120px;
    background-color: var(--primary-color) !important;
    border: none !important;
    font-weight: 500;
    transition: all ease-in-out 0.2s;
}

.card .card-footer .btn:hover {
    opacity: 0.9;
}

.search-filter button {
    transition: all 0.3s ease;
}

.search-filter button:hover {
    transform: translateY(-1px);
}

.search-filter .primary-btn {
    background-color: var(--primary-color);
    color: white;
}

.search-filter .grey-btn:hover {
    background-color: var(--primary-color);
    color: white;
}